footer {
    width: 100%;
    height: auto;
    background-color: $cinzaEscuro;
    bottom: 0;
    margin: 0;
    padding: 0;
    position: relative;
    border-top: 2px solid #FFF;

    .center {
        height: calc('100% - 40px');
        padding: 30px 0;
        display: flex;
        align-items: flex-start;
        justify-content: center;

        +below($tablet) {
            height: calc('100% - 30px');
            justify-content: space-between;
        }

        +mobile() {
            flex-wrap: wrap;
            margin: 0 5%;
        }

        .marcas {
            width: 225px;
            margin: 0 70px 0 0;
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            +below($tablet) {
                margin: 0;
                width: 20%;
            }

            +mobile() {
                width: 100%;
                align-items: center;
            }

            .link-home {
                width: 100%;

                +mobile() {
                    width: 40%;
                }

                .img-logo {
                    max-width: 100%;
                }
            }

            .link-edc-group {
                width: 100%;
                height: 70px;
                border: 1px solid $bordaCinza;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: 30px;
                transition: background 0.5s ease-in-out;

                +below($tablet) {
                    width: 100%;
                    height: 60px;
                }

                +mobile() {
                    width: 40%;
                    margin-top: 15px;
                    height: 45px;
                }

                .frase {
                    width: 50%;
                    opensans(12, bold);
                    color: #FFF;
                    font-style: italic;
                    word-break: break-all;
                    margin: 0;
                    padding-right: 15px;

                    +below($tablet) {
                        font-size: 10px;
                    }

                    +mobile() {
                        width: 60%;
                        font-size: 8px;
                        padding-right: 10px;
                    }
                }

                .img-edc-group {
                    max-width: 40px;
                }

                &:hover {
                    background-color: $verdeServ;
                }
            }

            .link-home {
                transition: all 0.3s ease-in-out;

                &:hover {
                    opacity: 0.6;
                    transform: scale(1.05);
                }
            }

            .link-trabalhe {
                width: 100%;
                height: 40px;
                border: 1px solid $bordaCinza;
                padding: 0;
                margin: 10px 0 0 0;
                opensans(14, bold);
                color: #FFF;
                text-transform: uppercase;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: background 0.5s ease-in-out;

                +below($tablet) {
                    width: 100%;
                    height: 30px;
                    font-size: 12px;
                }

                +mobile() {
                    width: 40%;
                    height: 25px;
                    font-size: 10px;
                }

                &:hover, &.active {
                    background: $verdeServ;
                }
            }
        }

        .contatos {
            width: auto;
            margin: 0 60px 0 0;

            +below($tablet) {
                width: 22%;
                margin: 0;
            }

            +mobile() {
                width: 45%;
                margin: 10px 0 0 0;
            }

            .redes-sociais {
                display: flex;
                flex-direction: row;
                align-items: center;
                padding: 0;
                margin-top: 30px;

                +below($tablet) {
                    margin-top: 20px;
                }

                .instagram, .facebook, .linkedin {
                    padding: 0 5px;
                    transition: 0.2s;

                    img {
                        transition: transform 0.3s;
                    }

                    &:hover {
                        background: transparent;

                        img {
                            transform: rotate(360deg) scale(1.3);
                        }
                    }
                }
            }

            .informacoes {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                margin: 30px 0 20px 0;

                +below($tablet) {
                    margin: 20px 0 15px 0;
                }

                +mobile() {
                    margin: 15px 0;
                }

                .link-telefone, .link-wpp, .link-email {
                    opensans(16, medium);
                    color: #FFF;
                    margin: 0;
                    line-height: 1.3;
                    transition: 0.3s ease;

                    +below($tablet) {
                        font-size: 14px;
                    }

                    +mobile() {
                        font-size: 12px;
                    }

                    &:hover {
                        color: $verdeServ;
                    }
                }
            }

            .endereco {
                opensans(12, bold);
                color: #FFF;
                margin: 0;
                white-space: nowrap;

                +below($tablet) {
                    font-size: 10px;
                }

                +mobile() {
                    font-size: 8px;
                }
            }
        }

        .nav-footer {
            width: auto;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin: 10px 0 0 0;

            +below($tablet) {
                width: 22%;
            }

            +mobile() {
                width: 48%;
                margin: 25px 0 0 0;
            }

            .link-footer {
                opensans(16, medium);
                color: #FFF;
                text-transform: uppercase;
                margin: 0 0 10px 0;
                line-height: 1.3;
                transition: 0.3s ease;

                +below($tablet) {
                    font-size: 14px;
                    margin: 0 0 5px 0;
                }

                +mobile() {
                    font-size: 12px;
                }

                span {
                    font-size: 12px;
                    color: $verdeServ;
                    margin-right: 5px;

                    +mobile() {
                        font-size: 10px;
                    }
                }

                &:hover, &.active {
                    color: $verdeServ;
                }
            }

            .link-termos, .link-politica {
                opensans(12, medium);
                color: #FFF;
                line-height: 1.3;
                margin: 0;
                transition: 0.3s ease;

                +below($tablet) {
                    font-size: 10px;
                }

                &:hover {
                    color: $verdeServ;
                }
            }

            .link-termos {
                margin: 10px 0 2px 0;
            }
        }

        .selos {
            width: auto;
            height: auto;
            margin: 0 0 0 auto;

            +below($tablet) {
                margin: 0;
            }

            +mobile() {
                width: 100%;
                margin: 20px 0 0 0;
            }

            .slac, .iso {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: flex-start;

                +mobile() {
                    justify-content: center;
                }

                .img-selo {
                    width: auto;
                    height: auto;

                    +below($tablet) {
                        width: 70px;
                    }

                    +mobile() {
                        width: 60px;
                    }
                }

                .textos {
                    padding-left: 10px;

                    .frase, .link-slac {
                        opensans(10);
                        color: #FFF;
                        margin: 0;
                        text-align: start;

                        +below($tablet) {
                            font-size: 8px;
                        }
                    }

                    .frase strong {
                        font-weight: 600;
                    }

                    .link-slac {
                        transition: 0.3s ease-in-out;

                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }

            .slac {
                margin-bottom: 10px;
            }
        }
    }

    .copyright {
        width: 100%;
        height: 40px;
        border-top: 2px solid $bordaCinza;
        display: flex;
        align-items: center;
        justify-content: center;

        +below($tablet) {
            height: 30px;
        }

        +mobile() {
            height: 40px;
            flex-wrap: wrap;
        }

        .direitos, .link-trupe, span {
            opensans(10);
            color: $bordaCinza;
            margin: 0;
            line-height: 1;

            +below($tablet) {
                font-size: 9px;
            }

            +mobile() {
                width: 100%;
                text-align: center;
            }
        }

        span {
            margin: 0 5px;

            +mobile() {
                display: none;
            }
        }

        .link-trupe {
            transition: 0.3s ease;

            +mobile() {
                width: auto;
                margin: 0 2px;
            }

            &:hover {
                color: #FFF;
            }
        }
    }
}