header {
    position: relative;
    height: 140px;

    .nav-topo {
        background-color: $cinzaMedio;
        height: 30px;
        position: relative;

        +mobile() {
            height: 50px;
        }

        .center {
            display: flex;
            align-items: center;

            +mobile() {
                flex-direction: column;
            }

            > .link-vagas {
                montserrat(12, medium);
                color: $textoClaro;
                text-transform: uppercase;
                transition: 0.2s;

                +below($tablet) {
                    font-size: 10px;
                }

                +mobile() {
                    font-size: 8px;
                    width: 100%;
                    height: 25px;
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                }

                &:hover {
                    color: #FFF;
                }

                span {
                    text-transform: none;

                    +mobile() {
                        margin-left: 3px;
                    }
                }
            }

            .right {
                margin-left: auto;
                display: flex;

                +mobile() {
                    height: 25px;
                }

                .link-topo {
                    display: flex;
                    height: 30px;
                    align-items: center;
                    padding: 0 30px;
                    border-right: 1px solid $bordaCinza;
                    montserrat(12, medium);
                    text-transform: uppercase;
                    color: $textoClaro;
                    transition: 0.2s;

                    +below($tablet) {
                        padding: 0 20px;
                        font-size: 10px;
                    }

                    +mobile() {
                        height: 100%;
                        padding: 0 10px;
                        font-size: 8px;
                        border-top: 1px solid $bordaCinza;
                    }

                    &:hover, &.active {
                        background: $cinzaEscuro;
                    }

                    &:first-child {
                        border-left: 1px solid $bordaCinza;
                    }
                }
            }

            select {
                margin: 0 30px;
                align-self: stretch;
                appearance: none;
                background: transparent;
                border: 0;
                outline: 0;
                montserrat(14, bold);
                color: $textoClaro;
                width: 54px;
                padding-left: 22px;
                background: $img('seta-idioma-cinza.svg') no-repeat right center, $img('ico-idioma-cinza.svg') no-repeat left center, $cinzaMedio;
                cursor: pointer;
                overflow: hidden !important;
                position: relative;
                transition: 0.2s;

                +below($tablet) {
                    margin: 0 20px;
                    font-size: 12px;
                }

                &:hover {
                    color: #FFF;
                    background: $img('seta-idioma.svg') no-repeat right center, $img('ico-idioma.svg') no-repeat left center, $cinzaMedio;
                }

                +mobile() {
                    position: absolute;
                    width: 50px;
                    height: 25px;
                    right: 0;
                    top: 0;
                    font-size: 10px;
                    margin: 0 5% 0 auto;
                    padding-left: 20px;
                    background: $img('seta-idioma-cinza.svg') no-repeat right center / 8px, $img('ico-idioma-cinza.svg') no-repeat left center / 12px, $cinzaMedio;

                    &:hover {
                        color: #FFF;
                        background: $img('seta-idioma.svg') no-repeat right center / 8px, $img('ico-idioma.svg') no-repeat left center / 12px, $cinzaMedio;
                    }
                }

                option {
                    montserrat(14, bold);
                    overflow: hidden;

                    +below($tablet) {
                        font-size: 12px;
                    }

                    +mobile() {
                        font-size: 10px;
                    }
                }
            }

            .redes-sociais {
                display: flex;
                flex-direction: row;
                align-items: center;
                height: 30px;
                padding: 0 0 0 25px;
                border-left: 1px solid $bordaCinza;

                +below($tablet) {
                    padding: 0 0 0 20px;
                }

                +mobile() {
                    height: 100%;
                    padding: 0 10px;
                    border-left: none;
                    border-right: 1px solid $bordaCinza;
                    border-top: 1px solid $bordaCinza;
                }

                .instagram, .facebook, .linkedin {
                    height: 16px;
                    border: none;
                    border-left: 0 !important;
                    margin: 0 5px;
                    transition: 0.2s;

                    +mobile() {
                        height: 14px;
                        margin: 0 3px;
                    }
                }

                .facebook {
                    width: 7px;
                    background: $img('ico-facebook-cinza.svg') no-repeat center;
                    background-size: contain;

                    &:hover {
                        background: $img('ico-facebook.svg') no-repeat center;
                    }
                }

                .linkedin {
                    width: 17px;
                    background: $img('ico-linkedin-cinza.svg') no-repeat center;
                    background-size: contain;

                    &:hover {
                        background: $img('ico-linkedin.svg') no-repeat center;
                    }
                }

                .instagram {
                    width: 16px;
                    background: $img('ico-instagram-cinza.svg') no-repeat center;
                    background-size: contain;

                    &:hover {
                        background: $img('ico-instagram-branco.svg') no-repeat center;
                    }
                }
            }
        }
    }

    .nav-header {
        width: 100%;
        height: 140px;

        +below($tablet) {
            height: 100px;
        }

        +mobile() {
            height: 80px;
        }

        .center {
            width: 1300px;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;

            +below($tablet) {
                width: 90%;
            }

            .link-home {
                +below($tablet) {
                    width: 25%;
                }

                +mobile() {
                    width: 60%;
                }

                .img-logo {
                    transition: 0.3s ease;

                    +below($tablet) {
                        max-width: 100%;
                    }
                }

                &:hover {
                    .img-logo {
                        transform: scale(1.05);
                    }
                }
            }

            nav {
                width: auto;
                position: relative;

                +below($tablet) {
                    position: absolute;
                    display: none;
                    background-color: $verdeUni;
                    width: 100%;
                    left: 0;
                    height: auto;
                    top: 120px;
                    padding: 20px 0;
                    z-index: 999;
                }

                .link-nav {
                    montserrat(14, light);
                    color: #FFF;
                    letter-spacing: 0.3px;
                    padding: 0 0 0 50px;
                    position: relative;

                    +below($tablet) {
                        display: block;
                        text-align: end;
                        padding: 0 5% 15px 0;
                    }

                    +mobile() {
                        font-size: 12px;
                    }

                    .linha-hover, .linha-active {
                        visibility: hidden;
                        position: absolute;
                        width: 50px;
                        border: none;
                        border-bottom: 1px solid #FFF;
                        top: 20px;
                        left: 50%;
                        transition: visibility 0.2s ease;

                        +below($tablet) {
                            left: unset;
                            right: 5%;
                            top: 12px;
                        }
                    }

                    &:hover, &.active {
                        .linha-hover {
                            visibility: visible;
                        }
                    }

                    &.active {
                        .linha-active {
                            visibility: visible;
                        }
                    }
                }

                .submenu-nav {
                    width: auto;
                    height: auto;
                    padding: 15px 0;
                    position: absolute;
                    top: 20px;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: flex-start;
                    z-index: 999;

                    +below($tablet) {
                        padding: 0;
                    }

                    +mobile() {
                        max-width: 50%;
                    }

                    .link-submenu {
                        width: 100%;
                        height: auto;
                        background-color: transparent;
                        montserrat(12, light);
                        color: #FFF;
                        text-transform: uppercase;
                        line-height: 1.5;
                        padding: 5px 20px;
                        border-bottom: 1px solid $textoClaro;
                        position: relative;
                        transition: background 0.3s ease-in-out;

                        +mobile() {
                            font-size: 10px;
                            padding: 5px 10px;
                        }

                        &:hover, &.active {
                            background-color: #55644F;
                        }
                    }

                    &.submenu-pessoas {
                        left: 240px;

                        +below($tablet) {
                            left: unset;
                            right: 25%;
                        }

                        +mobile() {
                            right: unset;
                            left: 5%;
                            top: 15px;
                        }
                    }

                    &.submenu-estrategia {
                        left: 364px;

                        +below($tablet) {
                            left: unset;
                            right: 25%;
                        }

                        +mobile() {
                            right: unset;
                            left: 5%;
                        }
                    }
                }
            }
        }
    }
}

#mobile-toggle {
    +above($tablet) {
        display: none;
    }

    display: block;
    background-color: transparent;
    border: 0;
    position: absolute;
    width: 28px;
    outline: 0;
    padding: 0;
    cursor: pointer;
    margin: 0;
    right: 5%;
    top: 80px;

    .lines {
        display: block;
        width: 100%;
        height: 4px;
        background-color: #FFF;
        position: relative;
        transition: 0.3s ease;
        border-radius: 3px;

        &:before, &:after {
            content: '';
            display: block;
            position: absolute;
            left: 0;
            width: 100%;
            height: 4px;
            background-color: #FFF;
            transition: 0.3s ease;
            border-radius: 3px;
        }

        &.internas {
            background-color: #FFF;

            &:before, &:after {
                background-color: #FFF;
            }
        }

        &:before {
            top: 7px;
        }

        &:after {
            top: -7px;
        }
    }

    &.close {
        .lines {
            display: block;
            background: transparent;
            z-index: 9999;

            &:before, &:after {
                transform-origin: 50% 50%;
                background-color: #FFF;
                top: 0;
            }

            &:before {
                transform: rotate3d(0, 0, 1, 45deg);
            }

            &:after {
                transform: rotate3d(0, 0, 1, -45deg);
            }
        }

        .lines-home {
            background: transparent;

            &:before, &:after {
                transform-origin: 50% 50%;
                top: 0;
            }

            &:before {
                transform: rotate3d(0, 0, 1, 45deg);
            }

            &:after {
                transform: rotate3d(0, 0, 1, -45deg);
            }
        }
    }
}

.aviso-cookies {
    display: flex;
    width: 100%;
    margin: 0;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    z-index: 999;
    padding: 30px;

    +mobile() {
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    .frase-cookies {
        width: 65%;
        opensans(14);
        color: #FFF;
        margin: 0;

        .link-politica {
            text-decoration: underline;

            &:hover, &:focus {
                font-weight: bold;
            }
        }

        +below($tablet) {
            font-size: 12px;
        }

        +mobile() {
            width: 100%;
            text-align: center;
        }
    }

    .aceitar-cookies {
        width: 15%;
        height: 40px;
        opensans(14);
        color: #FFF;
        background-color: transparent;
        border: 1px solid #FFF;
        border-radius: 0;
        margin-left: 30px;
        cursor: pointer;
        outline: none;

        &:hover, &:focus {
            border: 1px solid $verdeServ;
            background-color: $verdeServ;
        }

        +below($tablet) {
            font-size: 12px;
            height: 30px;
        }

        +mobile() {
            width: 100%;
            text-align: center;
            margin-left: 0;
            margin-top: 10px;
        }
    }
}