html, body {
    height: 100%;
    font-family: 'Open Sans', 'Montserrat', 'Helvetica', 'Arial', sans-serif;
}

body {
    background-color: $verdeUni;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    position: relative;

    main {
        min-height: calc('100% - 160px - 300px');

        +below($tablet) {
            min-height: calc('100% - 130px - 250px');
        }

        +mobile() {
            min-height: calc('100% - 130px - 360px');
        }
    }
}

.floating-wpp {
    float: right;
    position: fixed !important;
    right: 30px !important;
    bottom: 60px !important;
    z-index: 999 !important;

    &:before {
        display: block;
        content: '';
        width: 12px;
        height: 12px;
        background-color: #76C04E;
        position: absolute;
        z-index: 1;
        border-radius: 50%;
        right: 2px;
        top: 3px;

        +below($tablet) {
            width: 10px;
            height: 10px;
            top: 0;
        }
    }
}

.floating-wpp-popup.active {
    width: 360px !important;
    bottom: 70px !important;
    right: 0;
    padding-bottom: 0 !important;

    +below($tablet) {
        width: 250px !important;
        bottom: 50px !important;
    }

    .close {
        font-size: 24px;
        padding-top: 0;
        font-weight: inherit;

        +below($tablet) {
            font-size: 16px;
        }
    }
}

.floating-wpp-button {
    +below($tablet) {
        width: 40px !important;
        height: 40px !important;
    }
}

.floating-wpp-head {
    padding: 20px !important;
    margin: 0 -15px 20px -15px !important;

    +below($tablet) {
        padding: 10px !important;
        margin: 0 -15px 10px -15px !important;
    }

    span {
        display: flex;

        div.img-edc-uni {
            width: 55px;
            height: 55px;
            background-color: #FFF;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;

            +below($tablet) {
                width: 40px;
                height: 40px;
            }

            img {
                width: 100%;
                height: auto;
                border-radius: 50%;
            }

            &:before {
                content: '';
                bottom: 2px;
                right: 2px;
                width: 10px;
                height: 10px;
                box-sizing: border-box;
                background-color: #76C04E;
                display: block;
                position: absolute;
                z-index: 1;
                border-radius: 50%;

                +below($tablet) {
                    bottom: 0;
                }
            }
        }

        div.textos {
            padding: 5px 0 0 20px;

            +below($tablet) {
                padding: 0 0 0 10px;
            }

            .titulo {
                montserrat(18);
                font-weight: 600;
                margin: 0;
                text-align: start;

                +below($tablet) {
                    font-size: 14px;
                }
            }

            .frase {
                opensans(12);
                margin: 0;
                text-align: start;

                +below($tablet) {
                    font-size: 10px;
                }
            }
        }
    }
}

.floating-wpp-message {
    opensans(14, medium);
    color: $azul;
    padding: 20px 55px 20px 15px !important;

    +below($tablet) {
        padding: 10px !important;
        font-size: 12px;
    }
}

.floating-wpp-input-message {
    margin: 20px -15px 0 -15px !important;

    +below($tablet) {
        margin: 10px -15px 0 -15px !important;
    }

    textarea {
        outline: none;
        opensans(14, medium);
        color: $azul;

        +below($tablet) {
            font-size: 10px;
        }
    }

    .floating-wpp-btn-send:hover {
        opacity: 0.6;
    }
}