section.fale-com {
    width: 100%;
    padding: 120px 0 100px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    +below($tablet) {
        padding: 40px 0 60px 0;
    }

    +mobile() {
        padding: 10px 0 40px 0;
    }

    div.dente-de-leao {
        position: absolute;
        width: 785px;
        height: 352px;
        top: -75px;
        right: calc('(100% - 1300px) / 2');
        background-image: $img('img-bg-contato.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        z-index: -1;

        +below($tablet) {
            width: 500px;
            height: 225px;
            top: -70px;
            right: 5%;
        }

        +mobile() {
            width: 400px;
            height: 185px;
            top: -60px;
        }
    }

    .titulo {
        montserrat(18, light);
        color: #FFF;
        margin: 0 0 20px 0;

        +below($tablet) {
            font-size: 14px;
            margin: 0 0 15px 0;
        }
    }

    .linha-titulo {
        width: 70px;
        margin: 0;
        border: none;
        border-bottom: 1px solid $verdeServ;
    }

    .link-whatsapp {
        display: flex;
        align-items: center;
        justify-content: center;
        opensans(32, bold);
        color: #FFF;
        margin: 30px 0 45px 0;
        transition: 0.3s ease-in-out;

        +below($tablet) {
            font-size: 24px;
            margin: 20px 0 30px 0;
        }

        +mobile() {
            font-size: 18px;
        }

        .img-wpp {
            width: auto;
            height: auto;
            margin-right: 15px;
            transition: transform 0.3s ease-in-out;

            +mobile() {
                width: 24px;
                margin-right: 10px;
            }
        }

        &:hover {
            color: $verdeServ;

            .img-wpp {
                transform: rotate(360deg);
            }
        }
    }

    .form-contato {
        width: 100%;
        height: 515px;
        display: flex;

        +below($tablet) {
            height: 350px;
        }

        +mobile() {
            height: auto;
            flex-direction: column;
        }

        .img-contato {
            width: 50%;
            height: 100%;
            object-fit: cover;

            +mobile() {
                width: 100%;
                height: 150px;
            }
        }

        form {
            width: 50%;
            height: 100%;
            background-color: #565658;
            padding: 20px 0 20px 50px;

            +below($tablet) {
                padding: 20px 0 20px 40px;
            }

            +mobile() {
                width: 100%;
                height: auto;
                padding: 20px;
            }

            input[type=text], input[type=email] {
                width: 555px;
                height: 55px;
                outline: 0;
                border: 0;
                padding: 25px 0 5px 0;
                background-color: transparent;
                border: none;
                border-bottom: 2px solid #5C5C5D;
                border-radius: 0;
                opensans(16);
                color: #FFF;
                transition: 0.2s ease;

                +below($tablet) {
                    width: 70%;
                    height: 40px;
                    padding: 15px 0 5px 0;
                    font-size: 13px;
                }

                +mobile() {
                    width: 100%;
                    font-size: 12px;
                }

                +placeholder() {
                    opensans(16);
                    color: #FFF;
                    transition: 0.2s ease;

                    +below($tablet) {
                        font-size: 13px;
                    }

                    +mobile() {
                        font-size: 12px;
                    }
                }

                &:hover, &:focus {
                    font-weight: 600;

                    +placeholder() {
                        font-weight: 600;
                    }
                }
            }

            textarea {
                width: 555px;
                height: 190px;
                background-color: transparent;
                outline: 0;
                border: 0;
                border-bottom: 2px solid #5C5C5D;
                padding: 30px 0 0 0;
                resize: none;
                margin: 0;
                opensans(16);
                color: #FFF;
                transition: 0.2s ease;

                +below($tablet) {
                    width: 70%;
                    height: 100px;
                    padding: 15px 0 0 0;
                    font-size: 13px;
                }

                +mobile() {
                    font-size: 12px;
                    width: 100%;
                    height: 100px;
                }

                +placeholder() {
                    opensans(16);
                    color: #FFF;
                    transition: 0.2s ease;

                    +below($tablet) {
                        font-size: 13px;
                    }

                    +mobile() {
                        font-size: 12px;
                    }
                }

                &:hover, &:focus {
                    font-weight: 600;

                    +placeholder() {
                        font-weight: 600;
                    }
                }
            }

            button[type=submit] {
                width: 555px;
                height: 50px;
                background-color: transparent;
                margin: 0;
                outline: 0;
                border: none;
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                opensans(16);
                color: #FFF;
                transition: 0.2s ease;

                +below($tablet) {
                    width: 70%;
                    height: 35px;
                    font-size: 13px;
                }

                +mobile() {
                    width: 100%;
                    font-size: 12px;
                }

                .img-enviar {
                    width: auto;
                    height: auto;
                    margin-left: 20px;
                    transition: transform 0.3s ease-in-out;

                    +below($tablet) {
                        margin-left: 15px;
                    }
                }

                &:hover {
                    font-weight: 600;

                    .img-enviar {
                        transform: rotate(360deg);
                    }
                }
            }

            .flash {
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
                margin: -5px 0 0 0;
                height: 30px;
                width: 555px;
                opensans(12);
                color: #FFF;
                padding: 10px;
                border-radius: 0;
                text-align: center;

                +below($tablet) {
                    width: 70%;
                }

                +mobile() {
                    width: 100%;
                    font-size: 10px;
                }

                &.flash-erro {
                    border: none;
                    background: $vermelhoError;
                    color: #fff;
                }

                &.flash-sucesso {
                    border: none;
                    background: $verdeSuccess;
                    color: #fff;
                }
            }
        }
    }
}