section.grupo-edc {
    width: 100%;
    height: auto;
    padding: 65px 0 85px 0;
    background-color: $cinzaEscuro;
    position: relative;

    +below($tablet) {
        padding: 60px 0;
    }

    +mobile() {
        padding: 40px 0;
    }

    .frase-grupo {
        opensans(14);
        color: #FFF;
        text-align: center;
        letter-spacing: 5px;
        margin: 0;

        +below($tablet) {
            font-size: 12px;
        }

        +mobile() {
            letter-spacing: 3px;
        }
    }

    .grupo {
        width: 100%;
        height: 270px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 20px;
        position: relative;

        +below($tablet) {
            height: 210px;
        }

        +mobile() {
            height: auto;
            flex-direction: column;
        }

        .edc-servicos, .edc-engenharia, .edc-uni {
            width: calc('(100% - 20px) / 3');
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 30px;
            position: relative;

            +below($tablet) {
                padding: 20px;
            }

            +mobile() {
                width: 100%;
                height: auto;
                margin-bottom: 20px;
            }

            .img-logo {
                width: auto;
                height: auto;
                max-width: 100%;
                object-fit: contain;

                +below($tablet) {
                    max-width: 80%;
                    max-height: 45px;
                }

                +mobile() {
                    max-width: 70%;
                }
            }

            .servicos {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-top: 40px;
                opensans(16, bold);
                color: #FFF;
                position: relative;

                +below($tablet) {
                    margin-top: 20px;
                    font-size: 12px;
                }

                > p {
                    margin: 0 0 15px 0;
                }

                .linha-divisao {
                    width: 165px;
                    border: none;
                    border-bottom: 1px solid #FFF;
                    margin: 0;
                    position: absolute;

                    +below($tablet) {
                        width: 50%;
                    }

                    &.l1 {
                        top: 30px;

                        +below($tablet) {
                            top: 25px;
                        }
                    }

                    &.l2 {
                        top: 70px;

                        +below($tablet) {
                            top: 60px;
                        }
                    }
                }
            }

            .link-servicos, .link-engenharia, .link-uni {
                width: 150px;
                height: 20px;
                position: absolute;
                bottom: -10px;
                left: calc('(100% - 135px) / 2');
                border: 1px solid #FFF;
                border-radius: 10px;
                opensans(12);
                color: #FFF;
                display: flex;
                align-items: center;
                padding: 0 10px 0 25px;
                margin: 0;
                background: $img('icone-website.svg') no-repeat 8px / 13px transparent;
                transition: all 0.3s ease;

                +below($tablet) {
                    font-size: 10px;
                }
            }

            .link-servicos {
                background-color: $verdeServ;
            }

            .link-engenharia {
                background-color: $verdeEng;
            }

            .link-uni {
                background-color: $verdeUni;
            }

            &:hover {
                .link-servicos {
                    color: $verdeServ;
                    border: 1px solid $verdeServ;
                    background: $img('icone-website-serv.svg') no-repeat 8px / 13px #FFF;
                }

                .link-engenharia {
                    color: $verdeEng;
                    border: 1px solid $verdeEng;
                    background: $img('icone-website-eng.svg') no-repeat 8px / 13px #FFF;
                }

                .link-uni {
                    color: $verdeUni;
                    border: 1px solid $verdeUni;
                    background: $img('icone-website-uni.svg') no-repeat 8px / 13px #FFF;
                }
            }
        }

        .edc-servicos {
            background-color: $verdeServ;
        }

        .edc-engenharia {
            background-color: $verdeEng;
        }

        .edc-uni {
            background-color: $verdeUni;
        }
    }
}