main.grupos {
    width: 100%;
    height: auto;
    position: relative;
    padding-top: 60px;
    background-image: $img('img-bg-servicos.png');
    background-color: $verdeUni;
    background-repeat: no-repeat;
    background-position: -100px 100px;
    background-size: contain;
    background-attachment: fixed;

    +below($tablet) {
        padding-top: 30px;
        background-position: -50px 100px;
    }

    +mobile() {
        padding-top: 20px;
        background-position: -15px 130px;
    }

    section.sobre-grupo {
        width: 1300px;
        height: auto;
        padding: 30px 0 90px 0;

        +below($tablet) {
            width: 90%;
            padding: 20px 0 50px 0;
        }

        h1.titulo {
            montserrat(42, light);
            color: #FFF;
            text-align: center;
            text-transform: uppercase;
            margin: 0 0 40px 0;

            +below($tablet) {
                font-size: 36px;
                margin: 0 0 30px 0;
            }

            +mobile() {
                font-size: 20px;
                margin: 0 0 20px 0;
            }
        }

        .informacoes {
            width: 100%;
            height: auto;
            background-color: #565658;
            padding: 50px;
            display: flex;
            align-items: flex-start;

            +below($tablet) {
                padding: 30px;
            }

            +mobile() {
                flex-direction: column;
                align-items: center;
            }

            .icone {
                width: 200px;
                height: 200px;
                border: 2px solid $verdeServ;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;

                +below($tablet) {
                    width: 150px;
                    height: 150px;
                }

                +mobile() {
                    width: 120px;
                    height: 120px;
                }

                .img-icone {
                    width: 40%;
                    height: auto;
                }
            }

            .textos {
                width: calc('100% - 200px');
                padding: 40px 0 0 50px;

                +below($tablet) {
                    width: calc('100% - 150px');
                    padding: 20px 0 0 40px;
                }

                +mobile() {
                    width: 100%;
                    padding: 20px 0 0 0;
                }

                .titulo-grupo {
                    montserrat(36, light);
                    color: $verdeServ;
                    text-transform: uppercase;
                    margin: 0 0 20px 0;

                    +below($tablet) {
                        font-size: 28px;
                        margin: 0 0 15px 0;
                    }

                    +mobile() {
                        font-size: 22px;
                        text-align: center;
                    }
                }

                .texto-grupo {
                    opensans(18);
                    color: #FFF;
                    text-align: start;
                    padding: 0 15% 0 0;

                    +below($tablet) {
                        font-size: 14px;
                        padding: 0 10% 0 0;
                    }

                    +mobile() {
                        font-size: 12px;
                        text-align: center;
                        padding: 0;
                    }

                    > p {
                        margin: 0 0 20px 0;
                        line-height: 1.8;

                        +below($tablet) {
                            margin: 0 0 15px 0;
                        }

                        > strong {
                            font-weight: 600;
                        }
                    }

                    > ul {
                        margin: 0 0 20px 0;
                        list-style-position: inside;
                        padding: 0;
                        line-height: 1.8;

                        +below($tablet) {
                            margin: 0 0 15px 0;
                        }

                        > li {
                            line-height: 1.5;
                        }
                    }
                }
            }
        }
    }

    section.servicos {
        width: 100%;

        .center {
            width: 1300px;

            +below($tablet) {
                width: 90%;
            }

            .servico {
                width: 100%;
                height: auto;
                margin-bottom: 50px;
                display: flex;
                align-items: flex-start;
                justify-content: flex-start;
                padding-bottom: 50px;
                border-bottom: 2px solid #6A7467;

                +mobile() {
                    flex-direction: column;
                    align-items: center;
                }

                .img-servico {
                    width: 280px;
                    height: 280px;
                    border-radius: 50%;

                    +below($tablet) {
                        width: 230px;
                        height: 230px;
                    }

                    +mobile() {
                        width: 150px;
                        height: 150px;
                    }
                }

                .textos {
                    width: calc('100% - 350px');
                    padding: 25px 0 0 50px;

                    +below($tablet) {
                        width: calc('100% - 250px');
                        padding: 15px 0 0 40px;
                    }

                    +mobile() {
                        width: 100%;
                        padding: 15px 0 0 0;
                    }

                    .titulo-servico {
                        montserrat(36, light);
                        color: #FFF;
                        text-transform: uppercase;
                        margin: 0 0 20px 0;

                        +below($tablet) {
                            font-size: 24px;
                            margin: 0 0 15px 0;
                        }

                        +mobile() {
                            font-size: 20px;
                            text-align: center;
                        }
                    }

                    .texto-servico {
                        opensans(18);
                        color: #FFF;
                        text-align: start;
                        padding: 0 15% 0 0;

                        +below($tablet) {
                            font-size: 14px;
                            padding: 0 10% 0 0;
                        }

                        +mobile() {
                            font-size: 12px;
                            padding: 0;
                            text-align: center;
                        }

                        > p {
                            margin: 0 0 20px 0;
                            line-height: 1.8;

                            +below($tablet) {
                                margin: 0 0 15px 0;
                            }

                            > strong {
                                font-weight: 600;
                            }
                        }

                        > ul {
                            margin: 0 0 20px 0;
                            list-style-position: inside;
                            padding: 0;
                            line-height: 1.8;

                            +below($tablet) {
                                margin: 0 0 15px 0;
                            }

                            > li {
                                line-height: 1.5;
                            }
                        }
                    }
                }
            }
        }
    }

    section.grupos {
        width: 100%;
        height: 340px;
        position: relative;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        margin: 70px 0;
        padding: 55px 0;

        +below($tablet) {
            margin: 50px 0;
            height: 300px;
            padding: 50px 0;
        }

        +mobile() {
            height: auto;
            padding: 40px 0;
        }

        .center {
            width: 1300px;
            display: flex;
            align-items: flex-start;
            justify-content: center;

            +below($tablet) {
                width: 90%;
            }

            +mobile() {
                flex-wrap: wrap;
            }

            .link-grupo {
                width: calc('(100% - 60px) / 6');
                height: 230px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: flex-start;
                background-color: #565658;
                padding: 25px;
                margin: 0 5px 10px 5px;
                transition: background 0.5s ease-in-out;

                +below($tablet) {
                    height: 200px;
                    padding: 25px 20px;
                }

                +mobile() {
                    width: 47%;
                    height: 170px;
                    margin: 0 1.5% 10px 1.5%;
                    padding: 20px 15px;
                }

                .icone {
                    width: 80px;
                    height: 80px;
                    padding: 20px;
                    border: 2px solid $verdeServ;
                    border-radius: 50%;
                    background-color: transparent;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    transition: background 0.5s ease-in-out;

                    +below($tablet) {
                        width: 70px;
                        height: 70px;
                        padding: 15px;
                    }

                    +mobile() {
                        width: 60px;
                        height: 60px;
                    }

                    .img-icone {
                        width: auto;
                        max-width: 100%;
                        height: auto;
                        object-fit: contain;
                    }
                }

                .titulo-grupo {
                    width: 100%;
                    montserrat(16, bold);
                    color: #FFF;
                    text-align: center;
                    text-transform: uppercase;
                    margin: 20px 0 0 0;
                    display: flex;
                    align-items: flex-start;
                    justify-content: center;
                    background-color: transparent;
                    transition: none;

                    +below($tablet) {
                        font-size: 12px;
                        margin: 15px 0 0 0;
                    }
                }

                &:hover {
                    background-color: $verdeServ;

                    .icone {
                        background-color: #FFF;
                    }
                }
            }
        }
    }
}