main.home {
    width: 100%;
    height: auto;
    position: relative;
    padding-top: 60px;

    +below($tablet) {
        padding-top: 30px;
    }

    +mobile() {
        padding-top: 20px;
    }

    section.capas {
        width: 1300px;
        position: relative;
        height: 360px;
        padding: 60px 0;

        +below($tablet) {
            width: 90%;
            height: 250px;
            padding: 40px 0;
        }

        +mobile() {
            height: 280px;
            padding: 0;
        }

        .capa {
            width: 100%;
            height: 100%;

            .titulo-capa {
                width: calc('100% - 500px');
                montserrat(60, light);
                color: #FFF;
                text-transform: uppercase;
                white-space: pre-wrap;
                margin: 15px auto 15px 0;

                +below($tablet) {
                    width: calc('100% - 300px');
                    font-size: 44px;
                    margin: 0 auto 10px 0;
                }

                +mobile() {
                    width: 100%;
                    font-size: 28px;
                }
            }

            .frase-capa {
                width: calc('100% - 500px');
                opensans(24);
                color: #BBC2B8;
                font-style: italic;
                white-space: pre-wrap;
                margin: 0 auto 0 0;

                +below($tablet) {
                    width: calc('100% - 300px');
                    font-size: 20px;
                }

                +mobile() {
                    width: 100%;
                    font-size: 14px;
                }
            }

            div.bola {
                width: 500px;
                height: 500px;
                background-color: $verdeUni;
                padding: 25px;
                border-radius: 50%;
                position: absolute;
                top: -5px;
                right: -15px;
                z-index: 9;

                +below($tablet) {
                    width: 300px;
                    height: 300px;
                    padding: 15px;
                }

                +mobile() {
                    width: 200px;
                    height: 200px;
                    padding: 10px;
                    margin: 10px 0 0 auto;
                    top: unset;
                    right: 0;
                    bottom: -55px;
                }

                .img-capa {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 50%;
                }
            }
        }
    }

    section.banner {
        width: 100%;
        height: 850px;
        position: relative;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        z-index: 1;

        +below($tablet) {
            height: 600px;
        }

        +mobile() {
            height: 450px;
        }

        .center {
            height: 100%;
            padding: 50px 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            +below($tablet) {
                padding: 40px 0;
            }

            .titulo-banner {
                width: 720px;
                montserrat(42, light);
                color: #FFF;
                text-align: center;
                line-height: 1.4;
                margin: 0 auto;

                +below($tablet) {
                    width: 70%;
                    font-size: 36px;
                }

                +mobile() {
                    width: 100%;
                    font-size: 20px;
                }
            }

            .frase-banner {
                width: 780px;
                opensans(24);
                color: #FFF;
                line-height: 1.4;
                text-align: center;
                font-style: italic;
                margin: 40px 0 80px 0;

                +below($tablet) {
                    width: 80%;
                    font-size: 20px;
                    margin: 20px 0 50px 0;
                }

                +mobile() {
                    width: 100%;
                    font-size: 13px;
                    margin: 20px 0 30px 0;
                }
            }

            .btns-banner {
                width: 100%;
                height: 60px;
                display: flex;
                align-items: center;
                justify-content: center;

                +below($tablet) {
                    height: 50px;
                }

                +mobile() {
                    height: auto;
                    flex-direction: column;
                }

                .link-servico {
                    width: 400px;
                    height: 100%;
                    margin: 0 10px;
                    border: 2px solid $bordaCinza;
                    background-color: transparent;
                    opensans(14);
                    color: #FFF;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    transition: all 0.5s ease-in-out;

                    +below($tablet) {
                        width: 40%;
                        font-size: 12px;
                    }

                    +mobile() {
                        width: 80%;
                        height: 40px;
                        margin: 5px 0;
                        text-align: center;
                    }

                    &:hover {
                        background-color: $verdeUni;
                    }
                }
            }
        }
    }

    section.proposito {
        height: auto;
        min-height: 315px;
        padding: 85px 0 70px 0;

        +below($tablet) {
            min-height: 200px;
            padding: 60px 0 45px 0;
        }

        .texto {
            opensans(24, thin);
            color: #FFF;
            font-style: italic;
            text-align: center;

            +below($tablet) {
                font-size: 18px;
            }

            +mobile() {
                font-size: 14px;
            }

            > p {
                margin: 0 0 30px 0;
                line-height: 1.4;

                +below($tablet) {
                    margin: 0 0 20px 0;
                }

                > strong {
                    font-weight: 600;
                }
            }

            > p:nth-child(2n) {
                margin-left: 10%;
                margin-right: 10%;

                +mobile() {
                    margin-left: 0;
                    margin-right: 0;
                }
            }

            > ul {
                margin: 0 0 20px 0;
                list-style-position: inside;
                padding: 0;

                +below($tablet) {
                    margin: 0 0 15px 0;
                }

                > li {
                    line-height: 1.3;
                }
            }
        }
    }

    section.quantidades {
        width: 100%;
        height: 520px;
        padding: 60px 0;
        position: relative;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        display: flex;
        align-items: flex-start;
        z-index: 1;

        +below($tablet) {
            height: 400px;
            padding: 50px 0;
        }

        +mobile() {
            height: 400px;
            padding: 40px 0;
        }

        .center {
            display: flex;
            align-items: flex-end;
            justify-content: center;

            +mobile() {
                align-items: flex-start;
                flex-wrap: wrap;
                height: 100%;
            }

            article.item {
                width: 19%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: flex-start;

                +mobile() {
                    width: 50%;
                }

                .quantidade {
                    width: 80px;
                    height: 80px;
                    background: transparent;
                    border: 1px solid #FFF;
                    border-radius: 50%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;

                    +below($tablet) {
                        width: 70px;
                        height: 70px;
                    }

                    +mobile() {
                        width: 60px;
                        height: 60px;
                    }

                    .mais-de {
                        montserrat(18, bold);
                        color: #FFF;
                        margin: 0;
                        line-height: 1;

                        +below($tablet) {
                            font-size: 14px;
                        }

                        +mobile() {
                            font-size: 12px;
                        }
                    }

                    .numero {
                        montserrat(24, bold);
                        color: #FFF;
                        margin: 0;
                        line-height: 1;

                        +below($tablet) {
                            font-size: 20px;
                        }

                        +mobile() {
                            font-size: 18px;
                        }
                    }
                }

                .nome-item {
                    width: 70%;
                    montserrat(18, bold);
                    color: #FFF;
                    text-align: center;
                    margin: 40px 0 0 0;
                    line-height: 1.3;

                    +below($tablet) {
                        font-size: 14px;
                        margin: 30px 0 0 0;
                    }

                    +mobile() {
                        width: 90%;
                        margin: 15px 0 25px 0;
                        font-size: 13px;
                    }

                    &.c-level {
                        width: 38%;
                    }
                }
            }
        }
    }

    section.edcgroup {
        width: 1300px;
        height: auto;
        margin: -135px auto 0 auto;
        padding: 0 0 40px 0;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        position: relative;

        +below($tablet) {
            width: 90%;
            padding: 40px 0 20px 0;
        }

        +mobile() {
            margin: -50px auto 0 auto;
            flex-direction: column-reverse;
            align-items: center;
        }

        .imagens {
            width: 410px;
            height: 100%;
            position: relative;

            +below($tablet) {
                width: 30%;
            }

            +mobile() {
                width: 70%;
            }

            .img-globo {
                position: relative;
                width: auto;
                height: auto;
                float: right;
                z-index: 999;

                +below($tablet) {
                    width: 90%;
                }
            }

            div.imagem {
                width: 240px;
                height: 240px;
                background-color: $verdeUni;
                padding: 10px;
                border-radius: 50%;
                position: absolute;
                top: -100px;
                left: -10px;
                z-index: 9999;

                +below($tablet) {
                    width: 150px;
                    height: 150px;
                    padding: 5px;
                }

                +mobile() {
                    width: 120px;
                    height: 120px;
                    top: 0;
                }

                .img-edc {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 50%;
                }
            }
        }

        .textos {
            width: calc('100% - 410px');
            padding: 0 0 0 50px;
            display: flex;
            flex-wrap: wrap;
            align-items: flex-start;
            justify-content: flex-start;
            position: relative;

            +below($tablet) {
                width: 70%;
                padding: 0 0 0 40px;
            }

            +mobile() {
                width: 100%;
                padding: 0 5% 60px 5%;
            }

            .titulo-edc {
                width: 100%;
                montserrat(19, light);
                color: #FFF;
                text-align: start;
                margin: 0 0 55px 0;
                z-index: 999;

                +below($tablet) {
                    font-size: 16px;
                    margin: 0 0 30px 0;
                }

                +mobile() {
                    font-size: 14px;
                    text-align: center;
                }
            }

            .linha-titulo {
                width: 70px;
                top: 25px;
                left: 25%;
                border: none;
                border-bottom: 1px solid $verdeServ;
                position: absolute;
                z-index: 999;

                +below($tablet) {
                    width: 10%;
                    top: 20px;
                    left: 30%;
                }

                +mobile() {
                    width: 15%;
                    top: 35px;
                    left: calc('(100% - 15%) / 2');
                }
            }

            .left {
                width: 48%;
                opensans(16);
                color: #FFF;
                padding-right: 50px;
                z-index: 999;

                +below($tablet) {
                    font-size: 13px;
                    padding-right: 40px;
                }

                +mobile() {
                    width: 100%;
                    padding-right: 0;
                    font-size: 12px;
                }

                > p {
                    margin: 0 0 20px 0;
                    line-height: 1.5;

                    +below($tablet) {
                        margin: 0 0 15px 0;
                    }

                    > strong {
                        font-weight: 600;
                    }
                }

                > ul {
                    margin: 0 0 20px 0;
                    list-style-position: inside;
                    padding: 0;

                    +below($tablet) {
                        margin: 0 0 15px 0;
                    }

                    > li {
                        line-height: 1.3;
                    }
                }

                .img-group {
                    width: auto;
                    height: auto;
                    margin-top: 20px;

                    +below($tablet) {
                        margin-top: 15px;
                    }

                    +mobile() {
                        position: absolute;
                        bottom: 15px;
                        margin-top: 0;
                    }
                }
            }

            .right {
                width: 50%;
                opensans(16);
                color: #FFF;
                z-index: 999;

                +below($tablet) {
                    font-size: 13px;
                }

                +mobile() {
                    width: 100%;
                    font-size: 12px;
                }

                > p {
                    margin: 0 0 20px 0;
                    line-height: 1.5;

                    +below($tablet) {
                        margin: 0 0 15px 0;
                    }

                    > strong {
                        font-weight: 600;
                    }
                }

                > ul {
                    margin: 0 0 20px 0;
                    list-style-position: inside;
                    padding: 0;

                    +below($tablet) {
                        margin: 0 0 15px 0;
                    }

                    > li {
                        line-height: 1.3;
                    }
                }
            }
        }
    }

    section.grupos {
        padding: 70px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;

        +below($tablet) {
            padding: 70px 0 40px 0;
        }

        +mobile() {
            padding: 40px 0;
        }

        .frase-servicos {
            montserrat(18, light);
            color: #FFF;
            margin: 0 0 20px 0;

            +below($tablet) {
                font-size: 14px;
                margin: 0 0 15px 0;
            }

            +mobile() {
                text-align: center;
            }
        }

        .linha-titulo {
            width: 70px;
            margin: 0;
            border: none;
            border-bottom: 1px solid $verdeServ;
        }

        .titulo-servicos {
            montserrat(42, light);
            color: #FFF;
            margin: 70px 0 80px 0;

            +below($tablet) {
                font-size: 30px;
                margin: 40px 0;
            }

            +mobile() {
                font-size: 20px;
                text-align: center;
                margin: 30px 0;
            }
        }

        .itens-grupos {
            width: 1200px;
            height: auto;
            margin: 0 auto;
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            flex-wrap: wrap;

            +below($tablet) {
                width: 90%;
            }

            +mobile() {
                flex-direction: column;
                align-items: center;
            }

            .link-grupo {
                width: calc('(100% - 60px) / 3');
                height: 520px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: flex-start;
                background-color: #565658;
                padding: 30px;
                margin: 0 10px 20px 10px;
                transition: background 0.5s ease-in-out;

                +below($tablet) {
                    padding: 20px;
                    height: 400px;
                }

                +mobile() {
                    width: 100%;
                    height: auto;
                    margin-bottom: 15px;
                }

                .icone {
                    width: 100px;
                    height: 100px;
                    border: 2px solid $verdeServ;
                    border-radius: 50%;
                    background-color: transparent;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    transition: background 0.5s ease-in-out;

                    +below($tablet) {
                        width: 80px;
                        height: 80px;
                    }
                }

                .titulo-grupo {
                    width: 100%;
                    height: 60px;
                    montserrat(18, bold);
                    color: $verdeServ;
                    text-align: center;
                    text-transform: uppercase;
                    margin: 20px 0 10px 0;
                    display: flex;
                    align-items: flex-start;
                    justify-content: center;
                    background-color: transparent;
                    transition: 0.5s ease-in-out;

                    +below($tablet) {
                        font-size: 14px;
                        margin: 15px 0 5px 0;
                        height: 50px;
                    }

                    +mobile() {
                        height: auto;
                    }
                }

                .texto-grupo {
                    opensans(16);
                    color: #FFF;
                    text-align: center;
                    background-color: transparent;
                    transition: none;

                    +below($tablet) {
                        font-size: 12px;
                    }

                    > p {
                        margin: 0 0 10px 0;
                        line-height: 1.4;
                        background-color: transparent;
                        transition: none;

                        > strong {
                            font-weight: 600;
                        }
                    }

                    > ul {
                        margin: 0 0 10px 0;
                        list-style-position: inside;
                        padding: 0;
                        line-height: 1.3;

                        > li {
                            line-height: 1.3;
                        }
                    }
                }

                &:hover {
                    background-color: $verdeServ;

                    .icone {
                        background-color: #FFF;
                    }

                    .titulo-grupo {
                        color: #FFF;
                    }
                }
            }
        }
    }

    section.quem-faz {
        width: 1300px;
        margin: 0 auto;
        padding: 70px 0 120px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;

        +below($tablet) {
            width: 90%;
            padding: 40px 0 100px 0;
        }

        +mobile() {
            padding: 10px 0 40px 0;
        }

        .titulo {
            montserrat(18, light);
            color: #FFF;
            margin: 0 0 20px 0;

            +below($tablet) {
                font-size: 14px;
                margin: 0 0 15px 0;
            }

            +mobile() {
                text-align: center;
            }
        }

        .linha-titulo {
            width: 70px;
            margin: 0;
            border: none;
            border-bottom: 1px solid $verdeServ;
        }

        .titulo-quem-faz {
            width: 70%;
            montserrat(42, light);
            color: #FFF;
            text-align: center;
            line-height: 1.4;
            margin: 30px 0 10px 0;

            +below($tablet) {
                font-size: 30px;
                margin: 20px 0 10px 0;
            }

            +mobile() {
                width: 100%;
                font-size: 22px;
            }
        }

        .frase-quem-faz {
            opensans(24);
            color: #FFF;
            font-style: italic;
            margin: 0 0 70px 0;

            +below($tablet) {
                font-size: 18px;
                margin: 0 0 50px 0;
            }

            +mobile() {
                font-size: 14px;
                text-align: center;
                margin: 0 0 30px 0;
            }
        }

        article.infos {
            width: 100%;
            display: flex;
            justify-content: flex-end;
            position: relative;

            +mobile() {
                flex-direction: column;
                align-items: flex-end;
                justify-content: flex-start;
            }

            .img-quem-faz {
                width: auto;
                height: auto;

                +below($tablet) {
                    width: 55%;
                }

                +mobile() {
                    width: 80%;
                }
            }

            .textos {
                width: 655px;
                height: auto;
                background-color: #565658;
                padding: 70px 140px 25px 50px;
                position: absolute;
                top: 50px;
                left: 0;

                +below($tablet) {
                    width: 55%;
                    padding: 30px 30px 15px 30px;
                    top: 30px;
                }

                +mobile() {
                    width: 80%;
                    position: relative;
                    top: -20px;
                    left: -20%;
                    padding: 20px 20px 10px 20px;
                }

                .nome {
                    montserrat(24, light);
                    color: $verdeServ;
                    margin: 0;

                    +below($tablet) {
                        font-size: 20px;
                    }

                    +mobile() {
                        font-size: 18px;
                    }
                }

                .cargo {
                    montserrat(16, light);
                    color: $verdeServ;
                    margin: 0 0 20px 0;

                    +below($tablet) {
                        font-size: 14px;
                    }

                    +mobile() {
                        font-size: 13px;
                        margin: 0 0 15px 0;
                    }
                }

                .texto {
                    opensans(16);
                    color: #FFF;

                    +below($tablet) {
                        font-size: 13px;
                    }

                    +mobile() {
                        font-size: 12px;
                    }

                    > p {
                        margin: 0 0 20px 0;
                        line-height: 1.8;

                        +below($tablet) {
                            margin: 0 0 15px 0;
                        }

                        > strong {
                            font-weight: 600;
                        }
                    }

                    > ul {
                        margin: 0 0 20px 0;
                        list-style-position: inside;
                        padding: 0;

                        +below($tablet) {
                            margin: 0 0 15px 0;
                        }

                        > li {
                            line-height: 1.3;
                        }
                    }
                }
            }
        }
    }
}