main.trabalhe-conosco {
    width: 100%;
    height: auto;
    position: relative;
    padding-top: 90px;

    +below($tablet) {
        padding-top: 30px;
    }

    +mobile() {
        padding-top: 20px;
    }

    .titulo {
        width: 100%;
        montserrat(42, light);
        color: #FFF;
        text-align: center;
        margin: 0 0 70px 0;

        +below($tablet) {
            font-size: 28px;
            margin: 0 0 50px 0;
        }

        +mobile() {
            font-size: 24px;
            margin: 0 0 30px 0;
        }
    }

    .form-contato {
        width: 100%;
        height: 550px;
        display: flex;
        margin-bottom: 100px;

        +below($tablet) {
            height: 350px;
            margin-bottom: 60px;
        }

        +mobile() {
            height: auto;
            flex-direction: column;
        }

        .img-contato {
            width: 50%;
            height: 100%;
            object-fit: cover;

            +mobile() {
                width: 100%;
                height: 150px;
            }
        }

        form {
            width: 50%;
            height: 100%;
            background-color: #565658;
            padding: 20px 0 20px 50px;

            +below($tablet) {
                padding: 20px 0 20px 40px;
            }

            +mobile() {
                width: 100%;
                height: auto;
                padding: 20px;
            }

            input[type=text], input[type=email] {
                width: 555px;
                height: 55px;
                outline: 0;
                border: 0;
                padding: 25px 0 5px 0;
                background-color: transparent;
                border: none;
                border-bottom: 2px solid #5C5C5D;
                border-radius: 0;
                opensans(16);
                color: #FFF;
                transition: 0.2s ease;

                +below($tablet) {
                    width: 70%;
                    height: 40px;
                    padding: 15px 0 5px 0;
                    font-size: 13px;
                }

                +mobile() {
                    width: 100%;
                    font-size: 12px;
                }

                +placeholder() {
                    opensans(16);
                    color: #FFF;
                    transition: 0.2s ease;

                    +below($tablet) {
                        font-size: 13px;
                    }

                    +mobile() {
                        font-size: 12px;
                    }
                }

                &:hover, &:focus {
                    font-weight: 600;

                    +placeholder() {
                        font-weight: 600;
                    }
                }
            }

            textarea {
                width: 555px;
                height: 190px;
                background-color: transparent;
                outline: 0;
                border: 0;
                border-bottom: 2px solid #5C5C5D;
                padding: 30px 0 0 0;
                resize: none;
                margin: 0;
                opensans(16);
                color: #FFF;
                transition: 0.2s ease;

                +below($tablet) {
                    width: 70%;
                    height: 100px;
                    padding: 15px 0 0 0;
                    font-size: 13px;
                }

                +mobile() {
                    font-size: 12px;
                    width: 100%;
                    height: 100px;
                }

                +placeholder() {
                    opensans(16);
                    color: #FFF;
                    transition: 0.2s ease;

                    +below($tablet) {
                        font-size: 13px;
                    }

                    +mobile() {
                        font-size: 12px;
                    }
                }

                &:hover, &:focus {
                    font-weight: 600;

                    +placeholder() {
                        font-weight: 600;
                    }
                }
            }

            .anexar-arquivo {
                width: 555px;
                height: 55px;
                padding: 25px 0 5px 0;
                background-color: transparent;
                border: none;
                border-bottom: 2px solid #5C5C5D;
                border-radius: 0;
                display: flex;
                align-items: center;
                justify-content: space-between;

                +below($tablet) {
                    width: 70%;
                    height: 40px;
                    padding: 15px 0 5px 0;
                }

                +mobile() {
                    width: 100%;
                }

                .frase-anexar {
                    opensans(16);
                    color: #FFF;
                    margin: 0;

                    +below($tablet) {
                        font-size: 13px;
                    }

                    +mobile() {
                        font-size: 12px;
                    }
                }

                .btn-anexar {
                    width: 300px;
                    height: 40px;
                    background-color: transparent;
                    border: 1px solid #5C5C5D;
                    margin: 0 0 20px 0;
                    outline: none;
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    opensans(16);
                    color: #FFF;
                    transition: background 0.5s ease;

                    +below($tablet) {
                        width: 55%;
                        height: 30px;
                        font-size: 13px;
                        margin: 0 0 10px 0;
                    }

                    +mobile() {
                        font-size: 12px;
                    }

                    &:hover {
                        background-color: #5C5C5D;
                    }
                }
            }

            button[type=submit] {
                width: 555px;
                height: 50px;
                background-color: transparent;
                margin: 0;
                outline: 0;
                border: none;
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                opensans(16);
                color: #FFF;
                transition: 0.2s ease;

                +below($tablet) {
                    width: 70%;
                    height: 35px;
                    font-size: 13px;
                }

                +mobile() {
                    width: 100%;
                    font-size: 12px;
                }

                .img-enviar {
                    width: auto;
                    height: auto;
                    margin-left: 20px;
                    transition: transform 0.3s ease-in-out;

                    +below($tablet) {
                        margin-left: 15px;
                    }
                }

                &:hover {
                    font-weight: 600;

                    .img-enviar {
                        transform: rotate(360deg);
                    }
                }
            }

            .flash {
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
                margin: -5px 0 0 0;
                height: 30px;
                width: 555px;
                opensans(12);
                color: #FFF;
                padding: 10px;
                border-radius: 0;
                text-align: center;

                +below($tablet) {
                    width: 70%;
                }

                +mobile() {
                    width: 100%;
                    font-size: 10px;
                }

                &.flash-erro {
                    border: none;
                    background: $vermelhoError;
                    color: #fff;
                }

                &.flash-sucesso {
                    border: none;
                    background: $verdeSuccess;
                    color: #fff;
                }
            }
        }
    }
}